html {
    scroll-behavior: smooth;
    background-color: #f5f5f5;
  }
  
  hr {
    overflow: visible;
    padding: 0;
    border: none;
    border-top: 1px solid #bbb;
    color: #bbb;
    text-align: center;
    width: 300px;
  }
  
  hr:after {
    content: "*\a0\a0\a0*\a0\a0\a0*";
    font-weight: 400;
    display: inline-block;
    background: none;
    position: relative;
    top: -0.65em;
    font-size: 1.5em;
    padding: 0 1em;
    margin: 0 -1em;
    background: #fafafa;
  }

  img {
      margin: 0 auto;
  }

  a {
      color: #233447;
      text-decoration: underline;
      font-weight: 700;
  }

  .poetry {
      text-align: center;
      font-size: 18px;
      line-height: 1.4;
      padding: 0 40px;
  }
  
  @media (min-width: 800px) {
    .ReactModal__Content {
      inset: 10vh auto auto calc(50vw - 300px) !important;
      width: 600px !important;
    }
  }
  
  .metamaskLogo .st0{fill:#E2761B;stroke:#E2761B;stroke-linecap:round;stroke-linejoin:round;}
  .metamaskLogo .st1{fill:#E4761B;stroke:#E4761B;stroke-linecap:round;stroke-linejoin:round;}
  .metamaskLogo .st2{fill:#D7C1B3;stroke:#D7C1B3;stroke-linecap:round;stroke-linejoin:round;}
  .metamaskLogo .st3{fill:#233447;stroke:#233447;stroke-linecap:round;stroke-linejoin:round;}
  .metamaskLogo .st4{fill:#CD6116;stroke:#CD6116;stroke-linecap:round;stroke-linejoin:round;}
  .metamaskLogo .st5{fill:#E4751F;stroke:#E4751F;stroke-linecap:round;stroke-linejoin:round;}
  .metamaskLogo .st6{fill:#F6851B;stroke:#F6851B;stroke-linecap:round;stroke-linejoin:round;}
  .metamaskLogo .st7{fill:#C0AD9E;stroke:#C0AD9E;stroke-linecap:round;stroke-linejoin:round;}
  .metamaskLogo .st8{fill:#161616;stroke:#161616;stroke-linecap:round;stroke-linejoin:round;}
  .metamaskLogo .st9{fill:#763D16;stroke:#763D16;stroke-linecap:round;stroke-linejoin:round;}
  